/* INDEX:
   - Main Style
   - Navigation Style
   - Home Style
   - Kaart Style
   - Login Style
   - Onderdelen Style
*/



/* MAIN STYLE */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

/* Chrome font-weight fix */
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
*{font-weight: 400;}
}

body{
    background-image: url("../../images/linksAchtergrond.png"), url("../../images/rechtsAchtergrond.png");
    background-position: left, right;
    background-attachment: fixed, fixed;
    background-repeat: no-repeat, no-repeat;
    background-size: auto 100%, auto 100%;
}

#container{
    width: 45%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: white;
    -webkit-box-shadow: 0 0 42px 0 rgba(0,0,0,0.48);
    -moz-box-shadow: 0 0 42px 0 rgba(0,0,0,0.48);
    box-shadow: 0 0 42px 0 rgba(0,0,0,0.48);
    text-align: center;
}

#page-container{
    width: 80%;
    margin: 0 auto;
}

/* TODO: Remove after project/nav is done */
#testoverlay{
    position: absolute;
    right: 0;
    top: 0;
}

#upperbar{
    height: 5px;
    background-color: #23507d;
}

h1{
    margin-top: 75px;
    font-size: 5rem;
    color: #001241;
    font-weight: 100;
    letter-spacing: -7px;
}

h2{
    font-size: 18pt;
    color: #001241;
    font-weight: 100;
    letter-spacing: -1px;
}

p{
    font-size: 1rem;
    color: #001241;
}

.spacer{
    height: 20px;
}

/* Error 404 image */
#image404{
    margin-top: 50px;
    width: 400px;
    max-width: 100%;
}

button, .button{
    float: none;
    margin-top: 25px;
    background-color: #23507d;
    border: none;
    color: white;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width: 225px;
}

button:hover, .button:hover{
    background-color: #1d3f62;
    cursor: pointer;
}

/* Container for the onderdelen, kaart and onderdeel toevoegen pages */
#container-plus{
    width: 70%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: white;
    -webkit-box-shadow: 0 0 42px 0 rgba(0,0,0,0.48);
    -moz-box-shadow: 0 0 42px 0 rgba(0,0,0,0.48);
    box-shadow: 0 0 42px 0 rgba(0,0,0,0.48);
    text-align: center;
}

.link{
    font-weight: 400;
    color: #001241;
}
/* Chrome font-weight fix */
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
    .link{
        font-weight: 600;
    }
}

@media (max-width: 1200px) {
    #container{
        width: 55%;
    }
    #container-plus{
        width: 80%;
    }
}

@media (max-width: 1000px) {
    #container{
        width: 70%;
    }
    #page-container{
        width: 90%;
    }
    #container-plus{
        width: 85%;
    }
}

@media (max-width: 750px) {
    #container {
        width: 85%;
    }
    #page-container{
        width: 95%;
    }
    h1{
        margin-top: 50px;
        font-size: 4rem;
        letter-spacing: -5px;
    }
    #container-plus{
        width: 100%;
    }
}

@media (max-width: 550px) {
    #container{
        width: 100%;
    }
}

@media (max-width: 400px) {
    #container-plus{
        width: 100%;
    }
}

/* END OF MAIN STYLE */



/* NAVIGATION STYLE */
#nav{
    height: 75px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #d8d8d8;
    padding-right: 100px;
}

#nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav > ul > li{
    float: right;
}

#nav > ul > li > a{
    font-size: 14pt;
    color: #001241;
    display: block;
    text-align: center;
    padding: 26px 20px;
    text-decoration: none;
}

#nav > ul > li > a:first-of-type{
    border-left: 1px solid #d8d8d8;
}

#nav > ul > li:first-child{
    border-right: 1px solid #d8d8d8;
}

#nav > ul > li > a:hover {
    background-color: #e2e2e2;
}

@media (max-width: 1200px) {
    #container{
        width: 55%;
    }
}

@media (max-width: 1000px) {
    #container{
        width: 70%;
    }
}

@media (max-width: 750px) {
    #container {
        width: 85%;
    }
}

@media (max-width: 550px) {
    #container{
        width: 100%;
    }
    #nav{
        padding-right: 50px;
    }
}

@media (max-width: 400px) {
    #nav{
        padding-right: 0;
    }
}

/* END OF NAVIGATION STYLE */



/* HOME STYLE */

.buttonDiv{
    width: 100%;
    padding-bottom: 100px;
}

.paragraph{
    margin: 0 auto;
    margin-top: 100px;
    max-width: 70%;
    margin-bottom: 100px;
}

@media (max-width: 1200px) {

}

@media (max-width: 1000px) {

}

@media (max-width: 750px) {
}

@media (max-width: 550px) {
    .paragraph{
        margin-top: 50px;
        max-width: 85%;
        margin-bottom: 50px;
    }
}

@media (max-width: 400px) {

}

/* END OF HOME STYLE*/



/* KAART STYLE */

#map{
    height: 800px;
    width: 800px;
    margin-left: 30px;
}
@media (max-width: 1200px) {
    #map{
        width: 80%;
        margin-left:10%;
    }
}

@media (max-width: 1000px) {
    #map{
        width: 90%;
        margin-left:5%;
    }
}

@media (max-width: 750px) {
    #map {
        width: 90%;

    }
}

@media (max-width: 550px) {
    #map{
        width: 90%;
    }
}

/* END OF KAART STYLE */


/* LOGIN STYLE */
#loginForm{
    margin-top: 25px;
}
.inputField{
    margin-top: 10px;
    margin-bottom: 10px;
    float: none;
    background-color: #f8f8f8;
    border: 1px solid #8d8d8d;
    color: #8d8d8d;
    padding: 13px;
    text-decoration: none;
    font-size: 16px;
    width: 225px;
}
.buttonSubmit{
    width: 250px;
}
.wwVergetenLink{
    color: #23507d;
}

/* END OF LOGIN STYLE */



/* ONDERDELEN STYLE */

.buttonOnderdeelToevoegen{
    float: left;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: #23507d;
    border: none;
    color: white;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width: 225px;
}
.buttonOnderdeelToevoegen:hover{
    background-color: #1d3f62;
    cursor: pointer;
}

#onderdelenTabel {
    margin-top: 50px;
    border-collapse: collapse;
    width: 100%;
}

#onderdelenTabel td, #onderdelenTabel th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}

#onderdelenTabel tr:nth-child(even){background-color: #f2f2f2;}

#onderdelenTabel tr:hover {background-color: #e6e6e6;}

#onderdelenTabel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #23507d;
    color: #ffffff;
}

.onderdelenKleur{
    height: 20px;
    width: 5px;
}

#onderdelenTabel a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #23507d;
}
#onderdelenTabel-OverflowFix{
    width: 100%;
}

@media (max-width: 1200px) {

}

@media (max-width: 1000px) {
    #onderdelenTabel-OverflowFix{
        overflow-x: scroll;
    }
    #onderdelenTabel {
        margin-top: 0;
    }
}

@media (max-width: 750px){

}

@media (max-width: 550px) {
    .buttonOnderdeelToevoegen {
        float: none;
        margin-top: 35px;
        margin-bottom: 35px;
    }
}

@media (max-width: 400px) {

}

/* END OF ONDERDELEN STYLE */
