.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
body{
    background-image:url("../../images/bg/linksAchtergrond.png"), url("../../images/bg/rechtsAchtergrond.png");
    background-repeat:no-repeat, no-repeat;
    background-attachment:fixed, fixed;
    background-position:left, right;
    background-size: contain, contain;
}