/* INDEX:
   - Main Style
   - Navigation Style
   - Home Style
   - Kaart Style
   - Login Style
   - Onderdelen Style
   - Formulier Style
   - Basisgegevens Style
*/

/* REMOVE: */
@media (max-width: 550px) {
    #testoverlay{
      display: none;
    }
}

/* MAIN STYLE */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

/* Chrome font-weight fix */
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
*{font-weight: 400;}
}

body{
    background-image: url("../../images/linksAchtergrond.png"), url("../../images/rechtsAchtergrond.png");
    background-position: left, right;
    background-attachment: fixed, fixed;
    background-repeat: no-repeat, no-repeat;
    background-size: auto 100%, auto 100%;
}

#container{
    width: 45%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: white;
    -webkit-box-shadow: 0 0 42px 0 rgba(0,0,0,0.48);
    -moz-box-shadow: 0 0 42px 0 rgba(0,0,0,0.48);
    box-shadow: 0 0 42px 0 rgba(0,0,0,0.48);
    text-align: center;
}

#page-container{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

/* TODO: Remove after project/nav is done */
#testoverlay{
    position: absolute;
    right: 0;
    top: 0;
}

h1{
    margin-top: 75px;
    font-size: 5rem;
    color: #001241;
    font-weight: 100;
    letter-spacing: -7px;
}

h2{
    font-size: 18pt;
    color: #001241;
    font-weight: 100;
    letter-spacing: -1px;
}

p{
    font-size: 1rem;
    color: #001241;
}
.p-margin-top{
  margin-top: 20px;
}

.spacer{
    height: 20px;
}
.spacer-100{
    height: 100px;
}

/* Error 404 image */
#image404{
    margin-top: 50px;
    width: 400px;
    max-width: 100%;
}

button, .button{
    float: none;
    margin-top: 25px;
    background-color: #23507d;
    border: none;
    color: white;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width: 225px;
}

button:hover, .button:hover{
    background-color: #1d3f62;
    cursor: pointer;
}

/* Container for the onderdelen, kaart and onderdeel toevoegen pages */
#container-plus{
    width: 70%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: white;
    -webkit-box-shadow: 0 0 42px 0 rgba(0,0,0,0.48);
    -moz-box-shadow: 0 0 42px 0 rgba(0,0,0,0.48);
    box-shadow: 0 0 42px 0 rgba(0,0,0,0.48);
    text-align: center;
}

.link{
    font-weight: 400;
    color: #001241;
}
/* Chrome font-weight fix */
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
    .link{
        font-weight: 600;
    }
}

@media (max-width: 1200px) {
    #container{
        width: 55%;
    }
    #container-plus{
        width: 80%;
    }
}

@media (max-width: 1000px) {
    #container{
        width: 70%;
    }
    #page-container{
        width: 90%;
    }
    #container-plus{
        width: 85%;
    }
}

@media (max-width: 750px) {
    #container {
        width: 85%;
    }
    #page-container{
        width: 95%;
    }
    h1{
        margin-top: 50px;
        font-size: 4rem;
        letter-spacing: -5px;
    }
    #container-plus{
        width: 100%;
    }
}

@media (max-width: 550px) {
    #container{
        width: 100%;
    }
}

@media (max-width: 400px) {
    #container-plus{
        width: 100%;
    }
}

/* END OF MAIN STYLE */



/* NAVIGATION STYLE */
#nav{
    height: 75px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #d8d8d8;
    padding-right: 100px;
}

#nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav > ul > li{
    float: right;
}

#nav > ul > li > a{
    font-size: 14pt;
    color: #001241;
    display: block;
    text-align: center;
    padding: 26px 20px;
    text-decoration: none;
}

#nav > ul > li > a:first-of-type{
    border-left: 1px solid #d8d8d8;
}

#nav > ul > li:nth-last-child(3){
    border-right: 1px solid #d8d8d8;
}

#nav > ul > li > a:hover {
    background-color: #e2e2e2;
}
#nav > ul > li:first-child{
  margin-top: -2px;
  display: none;
}
.nav-divider{
  width: 95%;
  margin-left: 2.5%;
  height: 1px;
  background-color: #d8d8d8;
}
#nav-overlay{
  height: 0.1px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #d8d8d8;
  text-align: right;
  width: 100%;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#nav-overlay > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav-overlay > ul > li{
}

#nav-overlay > ul > li > a{
    font-size: 14pt;
    color: #001241;
    display: block;
    text-align: center;
    padding: 26px 20px;
    text-decoration: none;
}

#nav-overlay > ul > li > a:hover {
    background-color: #e2e2e2;
}

#upperbar{
    height: 5px;
    background-color: #23507d;
}

@media (max-width: 1200px) {
    #container{
        width: 55%;
    }
}

@media (max-width: 1000px) {
    #container{
        width: 70%;
    }
}

@media (max-width: 750px) {
    #container {
        width: 85%;
    }
}

@media (max-width: 550px) {
    #container{
        width: 100%;
    }
    #nav{
        padding-right: 0;
    }
    #nav > ul > li:not(:first-child) {
      display: none;
    }
    #nav > ul > li:first-child{
      margin-top: -2px;
      display: block;
      cursor: pointer;
    }
}

@media (max-width: 400px) {
}

/* END OF NAVIGATION STYLE */



/* HOME STYLE */

.buttonDiv{
    width: 100%;
    padding-bottom: 100px;
}

.paragraph{
    margin: 0 auto;
    margin-top: 100px;
    max-width: 70%;
    margin-bottom: 100px;
}

@media (max-width: 1200px) {

}

@media (max-width: 1000px) {

}

@media (max-width: 750px) {
}

@media (max-width: 550px) {
    .paragraph{
        margin-top: 50px;
        max-width: 85%;
        margin-bottom: 50px;
    }
}

@media (max-width: 400px) {

}

/* END OF HOME STYLE*/



/* KAART STYLE */
#mapAndObjectsContainer{
    justify-content: center;
    align-items: center;
    display: flex;
    width: calc(100% - 10px);
    height: 500px;
    margin: 5px;
    margin-bottom: 0;
    padding-bottom: 75px;
}

#mapObjects{
    width: 35%;
    height: 500px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    overflow-y: scroll;
}

#map{
    height: 500px;
    width: 60%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

/* Objectlist next to the map */
.mapObjectListItem{
    float: left;
    width: calc(100% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    min-height: 75px;
    margin-bottom: 10px;
}
.mapObjectDisplayBox{
    float: left;
    height: 63px;
    width: 63px;
    margin: 5px;
    background-color: #f8f8f8;
    border: 1px solid #d8d8d8;
    justify-content: center;
    align-items: center;
    display: flex;
}
.objectDisplay{
    /* FOR TESTING PURPOSES TODO: Remove */
    width: 50px;
    height: 25px;
    background-color: blue;
}
.mapObjectDescription{
    text-align: left;
    float: left;
    height: 65px;
    margin: 5px;
    width: calc(100% - 85px);
}
.mapObjectTitle{
    font-size: 14pt;
}
.mapObjectCategory{
    font-size: 12pt;
}



@media (max-width: 1200px) {
    #map{
    }
}

@media (max-width: 1000px) {
    #map{
    }
}

@media (max-width: 750px) {
    #mapAndObjectsContainer {
        display: block;
        height: 800px;
    }
    #mapObjects{
        width: 95%;
        height: 250px;
        margin-bottom: 25px;
    }
    #map {
        width: 95%;
    }
    .mapObjectListItem{
        width: calc(50% - 10px);
    }
}

@media (max-width: 600px) {
    .mapObjectListItem{
        width: calc(100% - 10px);
    }
}

/* END OF KAART STYLE */


/* LOGIN STYLE */
#loginForm{
    margin-top: 25px;
}
.inputField{
    margin-top: 10px;
    margin-bottom: 10px;
    float: none;
    background-color: #f8f8f8;
    border: 1px solid #8d8d8d;
    color: #8d8d8d;
    padding: 13px;
    text-decoration: none;
    font-size: 16px;
    width: 225px;
}
.buttonSubmit{
    width: 251.5px;
}
.wwVergetenLink{
    color: #23507d;
}
.icons-inputfields{
    position: absolute;
    margin-left: -35px;
    margin-top: 22px;
    font-size: 16pt;
    color: #8d8d8d;
}

/* END OF LOGIN STYLE */



/* ONDERDELEN STYLE */

.buttonOnderdeelToevoegen{
    float: left;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: #23507d;
    border: none;
    color: white;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width: 225px;
}
.buttonOnderdeelToevoegen:hover{
    background-color: #1d3f62;
    cursor: pointer;
}

#onderdelenTabel {
    margin-top: 50px;
    border-collapse: collapse;
    width: 100%;
}

#onderdelenTabel td, #onderdelenTabel th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}

#onderdelenTabel tr:nth-child(even){background-color: #f2f2f2;}

#onderdelenTabel tr:hover {background-color: #e6e6e6;}

#onderdelenTabel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #23507d;
    color: #ffffff;
}

.onderdelenKleur{
    height: 20px;
    width: 5px;
}

#onderdelenTabel a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #23507d;
}
#onderdelenTabel-OverflowFix{
    width: 100%;
}

@media (max-width: 1200px) {

}

@media (max-width: 1000px) {
    #onderdelenTabel-OverflowFix{
        overflow-x: scroll;
    }
    #onderdelenTabel {
        margin-top: 0;
    }
}

@media (max-width: 750px){

}

@media (max-width: 550px) {
    .buttonOnderdeelToevoegen {
        float: none;
        margin-top: 35px;
        margin-bottom: 35px;
    }
}

@media (max-width: 400px) {

}

/* END OF ONDERDELEN STYLE */

/* ONDERDELEN FORMULIER */

#inputForm{
    text-align: left;
    padding-bottom: 80px;
    padding-top: 50px;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #d8d8d8;
}

.formInput {
    height: 18px;
    width: 208px;
    padding: 8px 10px;
    margin: 5px 0;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: hidden;
}

.formSelect {
    padding: 8px 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
}

/*.question{*/
    /*height: 15px;*/
    /*width: 15px;*/
    /*background-color: #d8d8d8;*/
    /*float: right;*/
    /*font-size: 12px;*/
    /*margin-right: 600px;*/
    /*text-align: center;*/
/*}*/

/*#explanation{*/
    /*height: 100px;*/
    /*width: 140px;*/
    /*visibility: collapse;*/
/*}*/

.image{
    background-image: url("../../images/vraagteken.png");
    height:15px;
    width:15px;
    display: block;
}

.image  a {
    display: none;
}

.image  a:hover {
    display: block;
}

/* END OF FORMULIEREN STYLE */


/* BASISGEGEVENS STYLE */

#basisgegevensForm{
  text-align: left;
}

.basisgegevens-p{
  margin-top: 10px;
}

/* END OF BASISGEGEVENS STYLE */
